@using MonitoringOfStudentProgress.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MSP - Monitoring of student progress</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MonitoringOfStudentProgress.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                <a class="navbar-brand" asp-area="" asp-page="/Index">MSP - Monitoring of student progress</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Главная страница</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Progress">Контроль успеваемости студентов</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <h1>Добавление нового преподавателя</h1>

            <h4>Введите данные для добавления</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Main" method="post">
                        <div class="form-group">
                            <label asp-for="Id" class="control-label">ФИО</label>
                            <input type="text" name="FIO" asp-for="Id" class="form-control" />
                            <span asp-validation-for="Id" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Mail" class="control-label">Категория оценивания</label>
                            <input type="text" name="Subject" asp-for="Mail" class="form-control" />
                            <span asp-validation-for="Mail" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Specialization" class="control-label">Новое значение баллов</label>
                            <input type="text" name="newEstimation" asp-for="Specialization" class="form-control" />
                            <span asp-validation-for="Specialization" class="text-danger"></span>
                        </div>

                        <input type="submit" value="Внести изменения" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MSP - Monitoring of student progress - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <scr src="~/lib/jquery/dist/jquery.min.js"></scr ipt>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

