@page
@model MonitoringOfStudentProgress.Pages.ControlProgressModel

<h3>Переход к контролю прогресса студентов</h3>

<form asp-controller="СontrolProgress" asp-action="ControlProgress/Main">
    <input class="btn btn-primary" type="submit" value="Перейти к внесению изменений" formaction="ControlProgress/Main" />
</form>